---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

// Define valid price options
type PriceRange = '£' | '££' | '£££';

interface Props {
    header?: string;
    image?: ImageMetadata;
    link?: string;
    price?: PriceRange;
    index?: number;
}

const { header, image, link, price, index = 0 } = Astro.props;

// Define specific rotations for each index
const rotations = [1, -1.5, 2, -0.5];
const rotation = rotations[index % rotations.length];
---

<div class="mb-8 md:mb-0 md:col-span-6 xl:col-span-3 flex flex-col">
    {image && (
        <div>
            <Image 
                src={image} 
                alt={header ?? ''} 
                width={800} 
                height={600} 
                class={`aspect-video object-cover transform hover:rotate-0 transition-transform duration-300`}
                style={`transform: rotate(${rotation}deg)`}
            />
        </div>
    )}
    <div class="flex flex-col flex-grow">
        <h3 class="mt-4 md:mt-8 font-serif2 tracking-tight">{header}</h3>
        <p class="flex-grow"><slot /></p>
    </div>
    <div class="flex flex-row justify-between mt-4 md:mt-8">
        {price && <p class="price mb-0 font-bold font-serif2" data-length={price.length}>{price}</p>}
        {link && <a href={link} target="_blank" class="button">View and book</a>}
    </div>
</div>